/Chainbox_controller/.vs
/Chainbox_controller/Chainbox_controller/obj/Debug
Chainbox_controller/Chainbox_controller/obj/Chainbox_controller.csproj.nuget.dgspec.json
Chainbox_controller/Chainbox_controller/obj/Chainbox_controller.csproj.nuget.g.props
Chainbox_controller/Chainbox_controller/obj/Debug/net8.0-windows/Chainbox_controller.AssemblyInfo.cs
Chainbox_controller/Chainbox_controller/obj/Debug/net8.0-windows/Chainbox_controller.AssemblyInfoInputs.cache
Chainbox_controller/Chainbox_controller/obj/Debug/net8.0-windows/Chainbox_controller.assets.cache
Chainbox_controller/Chainbox_controller/obj/Debug/net8.0-windows/Chainbox_controller.GeneratedMSBuildEditorConfig.editorconfig
Chainbox_controller/Chainbox_controller/obj/project.assets.json
Chainbox_controller/Chainbox_controller/obj/project.nuget.cache
